body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:white;
}
.search-container input {
    padding: 0.5em;
    border: 2px solid gray;
    border-radius: 20px;
    font-size: 1em;
    width: 30%;
    margin-bottom: 1em;

  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 0.5em;
    border: 1px solid gray;
  }
.h1{
    background-color:darkseagreen;
    background-image: url("../corona.jpg");
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-size: cover;
    color:bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}  

select {
    width: 50%;
    padding: 0.5em;
    border: 2px solid gray;
    border-radius: 100px;
    font-size: 1em;
    background-color: white;
    background-position: right 0.5em top 50%;
    background-repeat: no-repeat;
    background-size: 1.5em auto;
    
  }
  
  select::-ms-expand {
    display: none;
  }
  
  select option {
    background-color: white;
    color: black;
  }

  .header_for_th{

    background-color:darkseagreen;
  }
  